<header class="artisans-no-splash">
    <nav class="artisans-nav">
        <ul class="artisans-logo">
            <li>
                <a href="/artisans">
                    <img class="artisans-logo" src="/img/logo.png" />
                </a>
            </li>
        </ul>
        <ul class="artisans-links">
            <li>
                <a href="/about">Artisans</a>
            </li>
        </ul>
        <ul class="artisans-buttons">
            <li class="login">
                <a href="/login">Log In</a>
            </li>
            <li class="signup">
                <a href="/register">Sign Up</a>
            </li>
        </ul>
    </nav>
</header>
<div class="artisans-main-content">
    <div style="margin-top:70px;">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h2 style="margin-top:30px;">About</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>                    
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p> 
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p> 
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="artisans-footer">
    <div class="container">
        <div class="row">
            <div>
                © 2016 Artisans · Made with <img src="/img/heart.ico" width="12" /> by Crunching Code
            </div>
        </div>
    </div>
</div>