<header class="artisans-header">
    <div class="artisans-header-brand">
        <a href="/">
            <img class="artisans-logo" src="/img/logo.png" />
        </a>
    </div>
    <nav class="artisans-navigation">
        <ul class="artisans-menu-left">
            <li>
                <a href="/artisans">Artisans</a>
            </li>
        </ul>
        <ul class="artisans-menu-right">
            <li>
                <a href="#">Messages</a>
            </li>
            <li>
                <a href="settings/profile">
                    <img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/13118990_10208602647238138_2898330164395268429_n.jpg?oh=73cd7e4bf5a1965deef3580c1dd1d234&oe=58623DCB" width="40" />
                    <span>MaziMuhlari</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<div class="artisans-main-content">
    <div style="margin-top:70px;">
        <div class="container">
            <div class="row">
                <div class="eight columns">
                    <input type="search" class="u-full-width" placeholder="search for an artisan by typing here..." />
                </div>
                <div class="four columns">
                    <a href="/artisan/create" class="button button-primary">Create Artisan</a>
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <div class="artisans-business-card">
                        <a href="#">
                            <h5>Mazi Muhlari Plumbing</h5>
                            <h6>Mazi Muhlari</h6>
                            <div class="artisans-image">
                                <img src="/img/logo.png" />
                            </div>
                            <p>
                                The goal of the Limpopo Millionaires Club is to create at least 10 millionaires by the year 2018 and 10 more every year the year after that.
                            </p>
                        </a>
                        <div class="artisans-controls">
                            <div class="row">
                                <div class="four columns">
                                    5 Years
                                </div>
                                <div class="four columns">
                                    Pretoria
                                </div>
                                <div class="four columns">
                                    Certified
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>