<header class="artisans-header" ng-init="getAll()">
    <div class="artisans-header-brand">
        <a href="/">
            <img class="artisans-logo" src="/img/logo.png" />
        </a>
    </div>
    <nav class="artisans-navigation">
        <ul class="artisans-menu-left">
            <li>
                <a href="/artisans">Artisans</a>
            </li>
        </ul>
        <ul class="artisans-menu-right">
            <li>
                <a href="#">Messages</a>
            </li>
            <li>
                <a href="settings/profile">
                    <img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/13118990_10208602647238138_2898330164395268429_n.jpg?oh=73cd7e4bf5a1965deef3580c1dd1d234&oe=58623DCB"
                        width="40" />
                    <span>MaziMuhlari</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<div class="artisans-main-content">
    <div style="margin-top:70px;">
        <div class="container">
            <div class="row">
                <div class="nine columns">
                    <input type="search" class="u-full-width" placeholder="search for an artisan by typing here..." ng-model="search" />
                </div>
                <div class="three columns">
                    <a href="/artisan/create" class="button button-primary u-full-width">Create Artisan</a>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns" ng-repeat="artisan in artisans | filter: search">
                    <div class="artisans-business-card">
                        <a href="#">
                            <h5>{{artisan.company}}</h5>
                            <h6>{{artisan.name}} {{artisan.surname}}</h6>
                            <div class="artisans-image">
                                <img src="/img/logo.png" />
                            </div>
                            <p>
                                {{artisan.skill}}
                                <br />
                                <strong>Cell: </strong>{{artisan.cell}}<br />
                                <strong>Email: </strong>{{artisan.email}}
                            </p>
                        </a>
                        <div class="artisans-controls">
                            <div class="row">
                                <div class="four columns">
                                    {{artisan.experience}}
                                </div>
                                <div class="four columns">
                                    {{artisan.location}}
                                </div>
                                <div class="four columns">
                                    {{artisan.capacity}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>