<header class="artisans-splash">
    <nav class="artisans-nav">
        <ul class="artisans-logo">
            <li>
                <a href="/">
                    <img class="artisans-logo" src="/img//logo.png" />
                </a>
            </li>
        </ul>
        <ul class="artisans-links">
            <li>
                <a href="/about">Artisans</a>
            </li>
        </ul>
        <ul class="artisans-buttons">
            <li class="login">
                <a href="/login">Log In</a>
            </li>
            <li class="signup">
                <a href="/register">Sign Up</a>
            </li>
        </ul>
    </nav>
    <div class="row" style="height:100%;">
        <div class="four columns" style="height:100%;">
            <h1 style="margin-top:80px;color: black;padding: 40px;font-weight: 300;font-size: 40px;">skilled and highly effective artisans</h1>
            <p style="color: black;padding-left: 40px;">
                Our core values are providing Excellent customer services by working with the most highly skilled artisans to understand address your needs, providing a Dilligent and Honest service to you as a client and upholding integrity at all times by behaving in an Ethical Manner when performing duties.
            </p>
            <a href="/register" class="artisans-button default">REGISTER FOR FREE</a>
        </div>
        <div class="eight columns" style="height:100%;overflow:hidden;background-image: url('/img//background-home.jpg');background-size: cover;">
            <div class="artisans-caption">
                <img src="/img//logo-inverse.png" height="60" />
                <p style="max-width:350px;">
                    Leading portal for highly skilled and readily available artisans to help you with skilled labour around your area.
                </p>
            </div>
        </div>
    </div>
</header>