<div class="artisans-page-register">
    <div class="artisans-logo">
        <a href="/artisans">
            <img src="/img/logo-inverse.png" width="60" />
        </a>
    </div>
    <div class="artisans-content">
        <div class="artisans-register">
            <div class="artisans-dialog">
                <div class="artisans-dialog-content">
                    <div class="artisans-dialog-header">
                        <h4>Register</h4>
                        <h5>Discover Wealth</h5>
                    </div>
                    <div class="artisans-dialog-body">
                        <form ng-submit="register();">
                            <div class="row">
                                <div class="twelve columns">
                                    <label>Username</label>
                                    <input class="u-full-width" type="text" placeholder="Username" ng-model="username" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve columns">
                                    <div class="twelve columns">
                                        <label>Password</label>
                                        <input class="u-full-width" type="password" placeholder="Password" ng-model="password" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve columns">
                                    <div class="twelve columns">
                                        <label>Confirm Password</label>
                                        <input class="u-full-width" type="password" placeholder="Confirm Password" ng-model="confirmPassword" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve columns">
                                    <input class="button-primary u-full-width" type="submit" value="register">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="artisans-dialog-footer">
                        <a href="/login"><strong>Already have an account?</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>