<header class="artisans-header">
    <div class="artisans-header-brand">
        <a href="/">
            <img class="artisans-logo" src="/img/logo.png" />
        </a>
    </div>
    <nav class="artisans-navigation">
        <ul class="artisans-menu-left">
            <li>
                <a href="/artisans">Artisans</a>
            </li>
        </ul>
        <ul class="artisans-menu-right">
            <li>
                <a href="#">Messages</a>
            </li>
            <li>
                <a href="settings/profile">
                    <img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/13118990_10208602647238138_2898330164395268429_n.jpg?oh=73cd7e4bf5a1965deef3580c1dd1d234&oe=58623DCB" width="40" />
                    <span>MaziMuhlari</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<div class="artisans-main-content">
    <aside class="artisans-sidebar">
        <div class="artisans-profile-summary">
            <img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/13118990_10208602647238138_2898330164395268429_n.jpg?oh=73cd7e4bf5a1965deef3580c1dd1d234&oe=58623DCB" width="66" />
            <p>
                <b>MaziMuhlari</b>
            </p>
        </div>
        <h4 class="artisans-menu-title">Overview</h4>
        <ul class="artisans-menu-list">
            <li>
                <a href="settings/profile" class="active">Profile Settings</a>
            </li>
            <li>
                <a href="settings/account">Account Settings</a>
            </li>
            <li>
                <a href="settings/email">Email Settings</a>
            </li>
            <li>
                <a href="settings/notifications">Notifications</a>
            </li>
        </ul>
        <h4 class="artisans-menu-title">Payments</h4>
        <ul class="artisans-menu-list">
            <li>
                <a href="information/billing">Billing Information</a>
            </li>
            <li>
                <a href="information/transaction">Transaction History</a>
            </li>
            <li>
                <a href="information/payout">Payout Preferences</a>
            </li>
        </ul>
    </aside>
    <div class="artisans-content-area">
        <div class="artisans-page-settings">
            <div class="">
                <form class="artisans-form">
                    <div class="artisans-form-header">
                        <h4>Profile Settings</h4>
                    </div>
                    <div class="artisans-form-body">
                        <div class="row">
                            <div class="six columns">
                                <label>Firstname</label>
                                <input class="u-full-width" type="text" placeholder="Firstname" />
                            </div>
                            <div class="six columns">
                                <label>Lastname</label>
                                <input class="u-full-width" type="text" placeholder="Lastname" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="six columns">
                                <label for="exampleRecipientInput">Reason for contacting</label>
                                <select class="u-full-width" id="exampleRecipientInput">
                                    <option value="Option 1">Questions</option>
                                    <option value="Option 2">Admiration</option>
                                    <option value="Option 3">Can I get your number?</option>
                                </select>
                            </div>
                        </div>
                        <label for="exampleMessage">Message</label>
                        <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
                        <label class="example-send-yourself-copy">
                            <input type="checkbox">
                            <span class="label-body">Send a copy to yourself</span>
                        </label>
                        <input class="button-primary" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>